<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Cloud Computing</b>. It's an exciting time for Cloud Computin and Containerization. I'm currently taking online courses on Udemy, Cloud Acad and I've assisted to several Kubernetes conferences.
			  </li>
			  <li>
				  <b>Bash Automation</b>Scripting is IT's swiss knife, so keep learning about Bash and python simplifies our job and get us focused on the important tasks. 
			  </li>
			  <li>
				  <b>Beach and wilderness time</b>. I am from south of america, home of some of the greatest beaches and trails in the world. I enjoy spending weekends
          on beachs and getting lost in the woods running or trekking. Currently living in UK.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          I have recently deploy a homelab environment in a proxmox server. Although the time consumption it took, that allowed me to
		  manage multiple OS and storages to help me prepare certifications like Azure Admin or CCNA.
		  The server could be handled via ssh or gui.
    		</li>
  			<li>
          		The technologies i used to develop the sites were: 
				Linux core, Bash, Powershell, Virtualization, Hyper-v, Networking and UFW.
				The hardware used was a nano server with 16gb ram and nvram storage for fast bootup.
  			</li>
			<li>
			Backend programming: Domain Driven Development, GOF Patterns, Dependency injection in .net, Repository pattern, unit of work.
  			</li>
  		    </ul>
  		    <h3>Social and Events</h3>
  		    <ul>
  			<li>
  			  Active member NETCONF in Uruguay.
			  Active StackOverFlow and Github member.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
